html {
  background-color: #343434;

  font-family: "Bebas Neue", cursive;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.body {
  width: 100%;
}

#limbo {
  height: 145px;
  position: absolute;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  right: 0;
  margin-right: 2%;
  bottom: 0;
  /* Gradient */

  background: rgb(255, 255, 255);
  background: linear-gradient(
    297deg,
    rgba(255, 255, 255, 0.29735644257703087) 0%,
    rgba(56, 54, 54, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  z-index: 9;
}
#limbo:hover {
  background-color: #ffffff;
  cursor: pointer;
}

iframe {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
}
